/* TODO : CSS파일을 편집하여 원하는 스타일의 계산기를 만들어보세요 :) */

/* global 전역 */
* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
  font-family: 'monospace', 'cursive';
  color: #000;
}

/*
  Calculator styles
*/

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #fffb00;
  width: 390px;
  height: 520px;
  border-radius: 33px;
  padding: 30px 15px 25px 15px;
  border: solid 7px #95daba;
}

.calculator__display--bare {
  /* display: none; */
  background-color: #e3f2fd;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  width: 100%;
  border-radius: 20px;
  font-size: 20px;
  padding: 25px 15px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.calculator__display--bare > span {
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  margin: 5px;
  width: 40px;
  height: 45px;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 5px;
}

.calculator__display--for-advanced {
  display: none; /* 이 줄을 모두 지우면 advanced 테스트를 하실 수 있습니다.*/
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 25px 15px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.calculator__buttons {
  background-color: #e3f2fd;
  width: 100%;
  height: 330px;
  margin-top: 18px;
  padding: 10px;
  border-radius: 20px;
  /**/
  display: flex;
  flex-direction: column;
}

.clear__and__enter {
  height: 50px;
  margin: 10px 8px;
  border-radius: 10px;
  /**/
  display: flex;
  justify-content: flex-end;
}

.clear__and__enter > button {
  border-radius: 30px;
  width: 50px;
  height: 40px;
  margin: 0px 6px; 
  background-color: #313132;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border-bottom: 3px solid #d27082;  /* 예쁜 분홍 그림자가 생겼다 >ㅁ< */
}

.button__row {
  height: 100px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 30px;
  /**/
  display: flex;
  justify-content: space-evenly;  /* 하얀배경의 박스 맨 위에 붙어있던 박스들이 */
  align-items: center;  /* row의 반대, column축으로 center 위치시켰더니 해결 ! */
}

.button__row > button {
  width: 50px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;  /* 버튼가까이 갔을 때 커서 모양이 변함 */
  outline: none;
  background-color: #ffe082;  
}

.button__row > .operator {
  color: #ffffff;
  background-color: #313132;
}

.button__row > .double {
  width: 115px;
}

.button__row > .isPressed {
  background-color: #00da75;
}

.logo {
  position: fixed;
  padding: 30px;
  bottom: 0px;
  right: 0px;
}

.button__row:nth-child(1) { order: 3;}
.button__row:nth-child(2) { order: 2;}
.button__row:nth-child(3) { order: 1;}
.button__row:last-child { order: 4;}  /*nth-child(4)*/

